.button {
    align-self: center;
    background-color: #e4d5b7;
    height: fit-content;
    padding: 16px;
    border-radius: 30px;
    color: black;
    cursor: pointer;
}

.button:active:not(:disabled) {
    color: #e4d5b7;
}

.button:active:not(:disabled),
.button:hover:not(:disabled) {
    outline: 0;
    background-color: #e4d5b7;
    color: black;
    box-shadow: 2px 4px 20px 0 black;
}
.button:disabled {
    cursor: not-allowed;
}
